/*  your css code here. If applicable */
body{
	margin:0px;
	padding:0px;
}
#MainContainer{
	width:100%;
	padding:20px;
	background-color:#f5f5f5;
}

.Testimonial{
	background-color:white;
	padding:10px;
	border:1px solid black;
	height:60px;
	width:100%;
}
.Testimonial p:nth-of-type(2) {
  text-align: right;
  font-style: italic;
}
